$col1: #286141;
$col2: #A3E6C0;
$col3: #5CE095;
$col4: #376B4D;
$col5: #47AC73;

$bg1: #f1eeee;
$bg2: white;
$bg3: #cccccc;
$bg4: #afadad;
$bg5: #dfdede;
$bg6: #807d7d;

$icon1: rgba(136, 139, 137, 0.582);
