.modal-content {
    background-color: $bg7;
    border: 1px solid $bg3;
}
.modal_content{
    margin-top: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    background-color: $bg7;
    .title_text{
        margin-bottom: 5px;
        background-color: $bg8;
        color: $font_color;
        border-radius: 3px;
        border: 1px solid $bg4;
    }
    .modal_select{
        gap: 50px;
    }
    .modal_time{
        .thing_date{
            input[type=date]{
                height: 28px;
                background-color: $bg8;
                color: $font_color;
                border-radius: 3px;
                border: 1px solid $bg4;
            }
        }
        .thing_time{
            input[type=time]{
                height: 28px;
                background-color: $bg8;
                color: $font_color;
                border-radius: 3px;
                border: 1px solid $bg4;
            } 
        }
    }
    .modal_all_day{
        gap: 50px;
    }
    .modal_detail{
        padding: 5px 0;
        textarea{
            background-color: $bg8;
            color: $font_color;
            border-radius: 3px;
            border: 1px solid $bg4;
        }
    }
    .modal_color{
        input[type=color]{
            appearance: none;
            width: 22px;
            height: 20px;
            border-radius: 50%;
            border: none;
            background-color: inherit;
            cursor: pointer;
        }
        input[type=color] + label{
            color: $font_color;
        }
        input::-webkit-color-swatch{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #47AC73; 
            margin-top: -2px;
        }
    }
    .modal_btn{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        .fa-trash-can{
            margin: auto 0;
            color: $col3;
            cursor: pointer;
        }
        .fa-trash-can:hover{
            color: $col5;
            transition: color 0.3s;
        }
        button{
            padding: 3px 10px;
            font-size: 1em;
            font-weight: 600;
            background-color: $col2;
            color: $col1;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover{
            background-color: $col3;
            transition: background-color 0.3s;
        }
    }
}
.js_c{
    display: flex;
    align-items: center;
}